@layer components {
  button, input[type="submit"], a.button {
    background-color: var(--color-primary-500);
    border: none;
    color: var(--color-dark);
    padding: var(--space-xs) var(--space-md);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--text-sm);
    cursor: pointer;
    border-radius: var(--rounding-base);
    transition: background-color 0.3s ease;
  }
}
